[project]
name = "forgesync"
version = "1.0.0"
description = "Automatically mirror all your Forgejo repositories to GitHub or any Forgejo instance"
readme = "README.md"
requires-python = "==3.13.*"
dependencies = [
    "pyforgejo==2.0.*",
    "pygithub==2.8.*",
    "typed-argument-parser==1.11.*",
]

[project.scripts]
forgesync = "forgesync.cli:main"

[build-system]
requires = ["uv_build==0.9.*"]
build-backend = "uv_build"
